.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    max-width:1300px;
    margin:0 auto;

    min-height:calc(100vh - 80px);

    padding:0 80px;
}

.hero-content{
    flex:1;
}

.hero-content h1{
    font-size:64px;
    color:white;
    margin-bottom:20px;
    line-height:1.2;
}

.hero-content p{
    color:#B8B8B8;
    font-size:20px;
    line-height:1.7;
    margin-bottom:40px;
    max-width: 520px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.hero-buttons button{
    padding:15px 30px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.hero-buttons button:first-child{
    background:#D4AF37;
    color:#0F172A;
}

.hero-buttons button:last-child{
    background:transparent;
    color:white;
    border:2px solid #D4AF37;
}

.hero-buttons button:hover{
    transform:translateY(-3px);
}

.hero-image{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:28px;
    font-weight:bold;
}

.hero-image img{
    width:100%;
    max-width: 700px;

    object-fit:contain;
}
.hero-image img{
    transition:.4s;
}

.hero-image img:hover{
    transform:scale(1.03);
}