.vehicle-card{
    background:#1E293B;
    border-radius:15px;
    overflow:hidden;

    transition:.3s;

    cursor:pointer;
}

.vehicle-card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.35);
}

.vehicle-card img{
    width:100%;
    height:240px;

    object-fit:contain;

    padding:20px;

    transition:.4s;
}

.vehicle-card:hover img{
    transform:scale(1.05);
}

.vehicle-info{
    padding:25px;
}

.vehicle-info h3{
    color:white;
    font-size:24px;

    margin-bottom:20px;
}

.vehicle-details{
    display:flex;

    flex-direction:column;

    margin-bottom:20px;
}

.vehicle-details span{
    color:#B8B8B8;

    font-size:15px;

    margin-bottom:10px;
}

.vehicle-info h4{
    color:#D4AF37;

    font-size:26px;

    margin-bottom:20px;
}

.vehicle-info button{
    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:#D4AF37;

    color:#0F172A;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;
}

.vehicle-info button:hover{
    background:#e5bc3c;
}