.featured{
    max-width:1300px;

    margin:120px auto;

    padding:0 80px;
}

.featured h2{
    text-align:center;

    color:white;

    font-size:42px;

    margin-bottom:60px;
}

.featured-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}