.vehicles-page {
    background: #0F172A;
    min-height: 100vh;
    padding: 80px 120px;
}

/* Header */

.vehicles-header {
    text-align: center;
    margin-bottom: 40px;
}

.vehicles-header h1 {
    color: white;
    font-size: 42px;
    margin-bottom: 15px;
}

.vehicles-header p {
    color: #B8B8B8;
    font-size: 18px;
}

/* Search */

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search-box input {
    width: 450px;
    padding: 15px 20px;

    border: none;
    outline: none;

    border-radius: 10px;

    background: #1E293B;

    color: white;

    font-size: 16px;

    transition: .3s;
}

.search-box input::placeholder {
    color: #B8B8B8;
}

.search-box input:focus {
    box-shadow: 0 0 0 2px #D4AF37;
}

/* Cards */

.vehicles-container {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;

}